<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Update cover page</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="jumbotron">
        <form [formGroup]="group">
          <div class="form-group">
            <label for="title">Title: *</label>
            <input type="text" class="form-control" [class.is-invalid]="group.get('title').invalid && group.get('title').touched" id="title" placeholder="Title" formControlName="title">
            <div class="invalid-feedback">
              This field is not valid.
            </div>
          </div>
          <div class="form-group">
            <app-image-uploader [imageSrc]="group.get('image').value" (blob)="imageChanged($event)"></app-image-uploader>
          </div>
          <div class="form-group">
            <label for="description">Quiz Description:</label>
            <textarea class="form-control" [class.is-invalid]="group.get('description').invalid && group.get('description').touched"  id="description" cols="30" rows="10" placeholder="Quiz description" formControlName="description"></textarea>
            <div class="invalid-feedback">
              This field is not valid.
            </div>
          </div>
          <div class="form-group">
            <label for="callToAction">Call to Action Label: *</label>
            <input type="text" class="form-control"  [class.is-invalid]="group.get('callToAction').invalid && group.get('callToAction').touched"  id="callToAction" placeholder="Call to Action Label" formControlName="callToAction">
            <div class="invalid-feedback">
              This field is not valid.
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 col-lg-8">
      <app-dynamic-container [inputComponent]="combined$ | async"></app-dynamic-container>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="close()">Save</button>
</div>
