<form [formGroup]="group" (ngSubmit)="saveForm()">
  <div class="form-group">
    <label for="quizName">Quiz name: *</label>
    <input type="text" class="form-control" id="quizName" placeholder="Quiz name" formControlName="quizName">
    <div class="invalid-feedback">
      Please enter a message in the textarea.
    </div>
  </div>
  <div class="form-group">
    <app-image-uploader (blob)="imageChanged($event)" [imageSrc]="group.get('image').value"></app-image-uploader>
  </div>
  <div class="form-group">
    <label for="quizTitle">Quiz Title: *</label>
    <input type="text" class="form-control" id="quizTitle" placeholder="Quiz title"  formControlName="quizTitle">
    <div class="invalid-feedback">
      Please enter a message in the textarea.
    </div>
  </div>
  <div class="form-group">
    <label for="quizDescription">Quiz Description:</label>
    <textarea class="form-control" id="quizDescription" cols="30" rows="10" placeholder="Quiz description" formControlName="quizDescription"></textarea>
    <div class="invalid-feedback">
      Please enter a message in the textarea.
    </div>
  </div>
  <div class="form-group">
    <label for="callToAction">Call to Action Label: *</label>
    <input type="text" class="form-control" id="callToAction" placeholder="Call to Action Label" formControlName="callToAction">
    <div class="invalid-feedback">
      Please enter a message in the textarea.
    </div>
  </div>
</form>
