<div class="card quiz-card d-flex align-items-center justify-content-center"
     [ngStyle]="{'background-image': 'url(' + inputComponent.params.image + ')'}">
  <div class="start-quiz-content text-center text-white">
    <h1 class="mb-3" *ngIf="inputComponent.params.title">{{inputComponent.params.title}}</h1>
    <p *ngIf="inputComponent.params.description">{{inputComponent.params.description}}</p>
    <button *ngIf="inputComponent.params.callToAction"
            class="btn btn-success">{{inputComponent.params.callToAction}}</button>
  </div>
</div>
