.quiz-image-placeholder {
  position: absolute;
  font-size: 223px;
  left: 0;
  top: 0;
  right: 0;
  margin: auto;
  text-align: center;
  /* padding-top: 22%; */
  color: #2c3961;
  height: 321px;
  bottom: 0;
  z-index: 1;
}

.start-quiz-content {
  position: relative;
  z-index: 2;
}
