<div class="container">
  <h1>Dashboard</h1>
  <app-spinner class="d-block pt-5" *ngIf="showSpinner"></app-spinner>
  <div class="row" *ngIf="quizzes$ | async as quizzes">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-3" *ngFor="let quiz of quizzes;  let i = index">
      <app-card [quiz]="quiz"></app-card>
    </div>
  </div>
</div>
