.image-uploader-image {
  font-size: 100px;
  color: #ccc;
}

.dragover {
  border: 1px dashed #007bff;

  .image-uploader-image {
    color: #007bff;
  }
}

.image-holder {
  position: relative;
  padding-top: 70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  i.fa {
    position: absolute;
    font-size: 30px;
    color: #dc3545;
    right: 22px;
    top: 16px;
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover {
      color: #c82333;
    }
  }
}
