<div class="image-holder card" [ngStyle]="{'background-image': 'url(' + imageSrc + ')'}"
     *ngIf="imageSrc; else imagePlaceholder">
  <i class="fa fa-trash-o" (click)="removeImage()"></i>
  <!--  <img class="img-thumbnail rounded mx-auto d-block" [src]="imageSrc" alt="">-->
</div>
<ng-template #imagePlaceholder>
  <div class="card" appDnd (filesChangeEmiter)="onFilesChange($event)"
       [allowedExtensions]="allowedExtensions">
    <div class="card-body text-center">
      <div class="image-uploader-image text-center">
        <i class="fa fa-file-image-o"></i>
      </div>
      <h4>Drop image to upload</h4>
      <p>or <a href="#" (click)="openDialog($event)">click here</a></p>
    </div>
  </div>
</ng-template>
<ul>
  <li *ngFor="let file of invalidFiles">
    <div class="text-danger">{{file}} is not valid file format</div>
  </li>
</ul>
<input type="file" #imageSelect hidden (change)="onInputChange($event)">
