<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Create new quiz</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="group">
    <div class="form-group">
      <label for="name">Quiz name: *</label>
      <input type="text" class="form-control" [class.is-invalid]="group.get('name').invalid && group.get('name').touched" id="name" placeholder="Quiz name" formControlName="name">
      <div class="invalid-feedback">
        This field is not valid
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="create()">Create</button>
</div>
