<div class="card quiz-card d-flex align-items-center justify-content-center"
     [ngStyle]="{'background-image': 'url(' + inputComponent.params.image + ')'}">
  <div class="start-quiz-content text-white">
    <h1 class="mb-3" *ngIf="inputComponent.params.title">{{inputComponent.params.title}}</h1>
    <ul class="m-0 p-0">
      <li class="quiz-answer mb-3" *ngFor="let item of inputComponent.params.answers; let i = index">
        <div class="quiz-answer-number">
          <i class="fa fa-check mr-3 ml-2"></i>
        </div>
        <div class="quiz-answer-text">{{item.answer}}</div>
      </li>
    </ul>
  </div>
</div>

