<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Update text question</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="jumbotron">
        <form [formGroup]="group">
          <div class="form-group">
            <label for="title">Title: *</label>
            <input type="text" class="form-control" [class.is-invalid]="group.get('title').invalid && group.get('title').touched" id="title" placeholder="Title" formControlName="title">
            <div class="invalid-feedback">
              This field is not valid.
            </div>
          </div>
          <div class="form-group">
            <app-image-uploader [imageSrc]="group.get('image').value" (blob)="imageChanged($event)"></app-image-uploader>
          </div>
          <div class="form-group">
            <label>Answers:</label>
            <div formArrayName="answers" *ngFor="let item of answers.controls; let i = index">
              <div class="form-row">
                <div class="col-10">
                  <div class="form-group" formGroupName="{{i}}">
                    <input type="text" class="form-control" placeholder="Answer" [class.is-invalid]="item.invalid && item.touched" formControlName="answer">
                    <div class="invalid-feedback">
                      This field is not valid.
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <button class="btn btn-block btn-secondary" (click)="removeAnswer(i)">
                    <i class="fa fa-trash"></i>
                  </button>
                </div>
              </div>
            </div>
            <button class="btn btn-block btn-secondary" (click)="addAnswer()">Add new answer</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 col-lg-8">
      <app-dynamic-container [inputComponent]="combined$ | async"></app-dynamic-container>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="close()">Save</button>
</div>
