<div class="brick d-flex flex-row" draggable="true" (dragstart)="drag($event)" (dragend)="dragEnd()">
  <div class="brick-column col-3 brick-icon">
    <i class="fa fa-align-center"></i>
  </div>
  <div class="brick-column col-9 brick-title">
    {{inputComponent.params.title}}
  </div>
</div>
