<div class="brick d-flex flex-row">
  <div class="brick-column col-8 col-lg-10 brick-title">
    <i class="fa fa-text-width mr-3"></i>
    {{inputComponent.params.title}}
  </div>
  <div class="brick-column col-4 col-lg-2 text-right text-nowrap">
    <i class="fa fa-pencil mr-3" (click)="edit()"></i>
    <i class="fa fa-trash mr-3" (click)="delete()"></i>
  </div>
</div>
