<div class="jumbotron"
     *ngFor="let section of combined$ | async"
     [class.drag-over-all]="dragOver$ | async"
     [class.drag-over]="(dragOver$ | async) === section.id"
     [ngClass]="section.className"
     (drop)="drop($event, section)"
     (dragover)="allowDrop($event, section, section.components)">
  <ng-container *ngIf="section.components.length === 0">
    <h1>{{section.title}}</h1>
    <p>{{section.description}}</p>
  </ng-container>
  <app-dynamic-container class="mb-3" *ngFor="let item of section.components" [inputComponent]="item"></app-dynamic-container>
</div>

