<form [formGroup]="group">
  <div class="form-group">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">
          Title:
        </span>
      </div>
      <input type="text" formControlName="name" class="form-control form-control-lg" placeholder="Title">
      <div class="input-group-append" *ngIf="formLoading">
        <span class="input-group-text">
          <i class="fa fa-spinner fa-spin"></i>
        </span>
      </div>
    </div>
  </div>
</form>
