.quizz-card {
  padding-top: 70%;
  background-size: cover;
  overflow: hidden;
  position: relative;
  border: 1px solid rgb(220, 220, 220);
  background-position: center center;
  background-color: #efefef;


  .quizz-title {
    font-size: 24px;
    font-weight: bold;
    position: relative;
    z-index: 10;
  }

  .quizz-action {
    position: absolute;
    bottom: -50px;
    box-sizing: border-box;
    width: 100%;
    transition: bottom 0.2s ease;
    background: #ffffffd6;
  }

  .quiz-status {
    opacity: 0;
    position: absolute;
    left: 10px;
    transition: opacity 0.2s ease, top 0.2s ease;
    top: -25px;
  }

  .action-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: right 0px bottom 50px;
    transition: background-position 0.2s ease;

    filter: blur(8px);
    -webkit-filter: blur(8px);
  }

  &:hover {
    .action-bg {
      background-position: right 0px bottom 0;
    }

    .quizz-action {
      bottom: 0;
    }

    .quiz-status {
      opacity: 1;
      top: 10px;
    }
  }
}
