<div class="card quizz-card" [ngStyle]="{'background-image': 'url(' + quiz.image + ')'}">
  <div class="quiz-status">
    <span class="badge badge-success" *ngIf="quiz.published">Published</span>
    <span class="badge badge-info" *ngIf="!quiz.published">Unpublished</span>
  </div>
  <div class="quizz-action p-3">
    <h2 class="quizz-title mb-3">{{quiz.name}}</h2>
    <div class="quizz-buttons">
      <div class="form-row">
        <div class="col">
          <button class="btn btn-sm btn-success btn-block" *ngIf="!quiz.published" (click)="publish(true)">Publish</button>
          <button class="btn btn-sm btn-info btn-block" *ngIf="quiz.published" (click)="publish(false)">Unpublish</button>
        </div>
        <div class="col">
          <a [routerLink]="[quiz.id, 'edit']" class="btn btn-sm btn-info btn-block">Edit</a>
        </div>
        <div class="col">
          <button class="btn btn-sm btn-danger btn-block" (click)="delete()">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
