<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p [innerHTML]="text"></p>
  <form [formGroup]="group">
    <input type="text" class="form-control" [class.is-invalid]="group.get('name').invalid" placeholder="Type quiz name" formControlName="name">
    <div class="invalid-feedback">
      Names do not match.
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss(false)">{{cancel}}</button>
  <button type="button" class="btn btn-primary" [disabled]="group.invalid" (click)="modal.close(true)">{{confirm}}</button>
</div>
