<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Leadquizzes.com</a>
  <button class="navbar-toggler" type="button" (click)="toggleNavBar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse show text-sm-center" [class.show]="showNavBar">
    <div class="mr-auto d-flex flex-column flex-md-row pt-3 pt-md-0">
      <a [routerLink]="['/']" class="btn btn-info  mb-2 mb-md-0 mr-md-2">Quizzes</a>
      <button (click)="createQuiz()" class="btn btn-primary  mb-2 mb-md-0 mr-md-2">Create Quiz</button>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link active text-center" href="#">Help</a>
      <a class="nav-item nav-link text-center" href="#">Settings</a>
    </div>
  </div>
</nav>
