<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <app-bricks-list></app-bricks-list>
    </div>
    <div class="col-12 col-md-6 col-lg-8">
      <app-quiz-title></app-quiz-title>
      <app-elements-list></app-elements-list>
    </div>
  </div>
</div>
