
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

// Bricks
.brick {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 1px 3px #ccc;

  .brick-column {
    padding: 15px;
  }

  .brick-icon {
    text-align: center;
    font-size: 17px;
    color: #fff;
  }
}

// Jumbotrons
.jumbotron-primary {
  background: rgba(0, 123, 255, 0.1);
}

.jumbotron-success {
  background: rgba(23, 162, 184, 0.1);
}

// Modal
.modal-xxl {
  .modal-dialog {
    max-width: calc(100% - 80px);
  }
}


// Dynamic container
app-dynamic-container {
  display: block;
}

// Quiz
.quiz-card {
  background: #747e8d;
  position: relative;
  min-height: 700px;
  padding: 50px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #47515f;
}
