<div class="jumbotron">
  <div class="mb-5" *ngFor="let section of combined$ | async">
    <h2>{{section.title}}</h2>
    <app-dynamic-container *ngFor="let item of section.components" [inputComponent]="item"></app-dynamic-container>
  </div>
</div>
